<div >
      Order:
    <select ng-model= "repoSortOrder">
      <option value="+name">Name</option>
      <option value="-star_gazers">Stars</option>
      <option value="+language">Language</option>
      
    </select>
      <h2>{{user.name}}</h2>
      <img ng-src="{{user.avatar_url}}" title="{{user.name}}" />
    </div>
    
  <!--ng-show or ng-hide when something is not truthy in JS & undefined is false in JS when no user data has been entered--> 

<!--ng-include can bring html from another source, like file, them use html in the current view-->
<!--this is useful cuz, you can break a complex page into useful pages, or html you can resuse in other app. views -->
<!--we take this line out so we can do a ng-show on the elemnt in index.html...<table ng-hide="!user" >-->
   <div id ="userDetails">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Stars</th>
          <th>Language</th>
        </tr>
      </thead>
<!-- <tr ng-repeat="repo in repos| orderBy: 'stargazers-count'">'stargazers-count'-->
<!--if we did not use single quotes, Angular will go look for property, '' means look for =string literal -->
      <tbody>
        <tr ng-repeat="repo in repos| orderBy: repoSortOrder"> 
          <td>{{repo.name}}</td>
          <td>{{repo.stargazers_count | number:2}}</td> <!--pipe symbol | is a filter in Angular-->
          <td>{{repo.language}}</td> <!--expression | filterName:parameter-->
        </tr>
      </tbody>
    </table>
    
  </div>